md-content[role=navigation] {
	
}

.navListItem {
	border-bottom: 1px solid #398820
}

.navListItem .md-toggle-icon {
	transform: rotate(180deg);
	transition: transform 0.2s ease-in-out;
}

.navListItem.toggled .md-toggle-icon {
	transform: rotate(0deg);
}

.navListButton {
	width: 100%;
	margin: 0;
	padding: 0 16px;
	line-height: 48px;
	border-radius: 0;
	/* Attempt to fix hover / focussed "stuck" bug */
	background: 0 0;
}

/* TODO: Does this look better? */
.navListItem > .navListButton {
	font-weight: bold;
}

.navListItem.toggled > .navListButton {
	background-color: rgba(133, 142, 134, 0.5);
}

.navListItem .navSubList {
	height: 0;
	padding: 0;
	overflow: hidden;
	max-width: 100%;
	width:100%;
	/*transition: height 0.55s cubic-bezier(0.35, 0, 0.25, 1);*/
	transition: height 0.55s cubic-bezier(0, 0.13, 0.25, 1);
}

.navListItem.toggled .navSubList {
	height:100px;
}

.navSubList .navListButton {
	text-transform: none;
	text-align: left;
	padding: 0 16px 0 24px;
}


#contentWrapper {
	max-width: 864px;
	margin: 16px;
}


.spaced {
	margin:16px;
}

.menu {
	max-width:100%;
	overflow-x:hidden;
}

.questionToolbar {
	/*border-radius: 6px 6px 0 0;*/
	min-height:48px;
	max-height:48px;
}

.answerTextarea {
	min-width:100%;
	max-width:100%;
	/*min-height:186px;*/
}

.answer {
	color: green;
	padding-left: 16px;
}



.thinner-sidenav,
.thinner-sidenav.md-locked-open-add-active,
.thinner-sidenav.md-locked-open {
  width:     272px;
  min-width: 272px;
  max-width: 272px;
}
